@charset "utf-8";

/* モバイルファースト */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  width: 100%;
}

body.active {
  overflow: hidden;
}

main {
  text-align: center;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  padding: 16px;
  /* min-width: 300px; */
}

.header-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pc-menu {
  display: none;
}

.sp-menu {
  display: inline-block;
  width: 40px;
  height: 30px;
  position: relative;
}

.sp-menu span {
  display: inline-block;
  width: 40px;
  height: 4px;
  border-radius: 10px;
  background-color: #6a6a6a;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

.sp-menu span.active {
  background-color: white;
  transition: all .3s;
}

.sp-menu span:nth-child(1) {
  top: 0;
}
.sp-menu span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.sp-menu span:nth-child(3) {
  bottom: 0;
}

.sp-menu span.active:nth-child(1) {
  top: 15px;
  transform: rotate(45deg);
}
.sp-menu span.active:nth-child(2) {
  opacity: 0;
}
.sp-menu span.active:nth-child(3) {
  top: 15px;
  transform: rotate(-45deg);
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: white;
  width: 50%;
  height: 100%;
  z-index: 3;
  transition: all .2s;
}

.menu.active {
  left: 0;
}

.menu ul {
  width: 80%;
  margin: 80px auto;
  padding: 0;
  display: block;
  list-style: none;
  text-align: center;
}

.menu ul li:not(:nth-child(1)) {
  margin-top: 8px;
}

.menu ul li a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid #757575;
  transition: all .3s;
}

.menu ul li a:hover {
  background-color: rgb(187, 187, 187);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 2;
  transition: all .3s;
  pointer-events: none;
}

.mask.active {
  opacity: 0.8;
  pointer-events: all;
}


@media screen and (min-width:600px) {
  .header {
    margin: 8px 24px;
  }

  .pc-menu {
    display: block;
  }

  .pc-menu ul {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  .pc-menu ul li a {
    color: black;
    transition: all .3s;
    font-size: 20px;
    font-weight: bold;
  }

  .pc-menu ul li a:hover {
    color: #757575;
    text-decoration: underline black;
  }

  .sp-menu {
    display: none;
  }

  .menu {
    display: none;
  }
}